*{  margin:0;
    box-sizing: border-box;
    padding: 2px;
    
}
a{
    text-decoration: none;
}
body{
    overflow-x:hidden ;
}

img{
    width:100%;
}
header{
    margin-top: 20px;
}
section{
    padding:10px;

  }
  .search-box input {
    border: none;
    width: 80%;
  }
  .search-box {
    border: 2px solid rgb(89, 4, 53);
  }
  .search-box button {
    display: inline-block;
    color: rgb(87, 18, 58);
    padding: 15px 10px;
    border: none;
    width: 15%;
    background: #d19ee2;
    
  }
  
.search-result-text {
    margin-top: 35px;
    text-align: center;
    color: rgb(89, 0, 255);
    font-weight: 600;
    font-size: 28px;
  }
  .search-result-text .search-text {
    color: rgb(128, 0, 45);
  }
  .product-img {
    position: relative;
    text-align: center;
  }
  .product-img span {
    padding: 5px 15px;
    text-transform: uppercase;
    right: 10px;
    top: -38px;
    border-radius: 28px 0px 30px 0;
    background: rgb(28, 7, 218);
    color: white;
    
  }
  .single-product h2 {
    color: rgb(236, 142, 240);
    padding: 10px;
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
    background: rgb(126, 3, 105);
    
  }
  .load-more.text-center button {
    margin-top: 30px;
    padding: 13px 70px;
  }
.details-title{
    color:#0c19d0;
    font-size: 23px;
    margin: 5px 0;
  }
#spinner{
    padding-left: 20%;
    margin-top: 3px;
  }
  .delete-margin{
    margin:-15px 0;
  }
  .col-lg-3{
    margin:15px 0;
  }
.product-img img {
  height: 264px;
  width: auto;
  display: inline-block;
}
.single-product {
  box-shadow: 0px 0px 5px 1px #3a1a1a63;
  padding: 50px;
  text-align: center;
  min-height: 500px;
}

#details {
  margin-top: 24px;
  padding: 8px 35px;

}

  @media (max-width:14000px) {
    .container{
      max-width: 1270px;
    }
  }

  @media (max-width:1250px) {
    .container{
      max-width: 1140px;
    }
  }

  @media (max-width:960px) {
    .logo {
      width: 130px;
    }
    .search-box button {
      padding: 10px 10px;
    }
    .search-box input {
      padding: 10px 14px;
    }
    .product-details-image img {
      width: auto;
      height: 300px;
      display: inline-block;
    }
    .product-details-image {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  /* Responsive Model */

  @media (max-width:770px) {
    header {
      text-align: center;
    }
    #spinner {
      padding-left: 0%;
      margin-top: 15px;
    }
    .logo {
        display: inline-block;
        margin-bottom: 30px;
      }
  }


  @media (max-width:500px) {
    .logo {
      display: inline-block;
      margin-bottom: 30px;
    }
    section {
        padding: 10px 0;
      }
    }
    .product-details-content h1 {
      font-size: 30px;
    }
      .search-result-text {
        margin-bottom: 15px;
      }
    header {
      text-align: center;
    }
    .search-box input {
      width: 81%;
    
    
  }